body { background-color:#0b1e3a; color:#00eaff; }
.role-Игрок { color: white; }
.role-Хелпер { color: pink; }
.role-Модератор { color: green; }
.role-Администратор { color: lightblue; }
.role-Куратор { color: purple; }
.role-Главный { color: red; }
.role-СпецАдмин { color: gold; }
.role-ТехСпециалист { color: orange; }
.role-Тестировщик { color: #00eaff; }
